version: '3.8'

services:
  shop:
    image: $DOCKER_HUB_USERNAME/${PROJECT_NAME}:${PROJECT_VERSION}
    container_name: ${PROJECT_NAME}
    environment:
      DB_URL: jdbc:postgresql://${RDS_ENDPOINT}:5432/${PROJECT_NAME}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      PROJECT_VERSION: ${PROJECT_VERSION}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      ACCESS_TOKEN_EXPIRATION_TIME: ${ACCESS_TOKEN_EXPIRATION_TIME}
      REFRESH_TOKEN_EXPIRATION_TIME: ${REFRESH_TOKEN_EXPIRATION_TIME}
      CLIENT_ORIGIN: ${CLIENT_ORIGIN}
      COOKIE_DOMAIN: ${COOKIE_DOMAIN}
      ACCESS_CONTROL_ALLOWED_ORIGINS: ${ACCESS_CONTROL_ALLOWED_ORIGINS}
      SERVER_ORIGIN: ${SERVER_ORIGIN}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      KAKAO_CLIENT_ID: ${KAKAO_CLIENT_ID}
      KAKAO_CLIENT_SECRET: ${KAKAO_CLIENT_SECRET}
      S3_ACCESS_KEY: ${S3_ACCESS_KEY}
      S3_SECRET_KEY: ${S3_SECRET_KEY}
      S3_BUCKET_NAME: ${S3_BUCKET_NAME}
      JAVA_OPTS: "-Xms512m -Xmx1024m"
    ports:
      - "8080:8080"
    networks:
      - shop-network

networks:
  shop-network:
    driver: bridge
